@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Pacifico&family=Sofia&family=Titillium+Web:wght@200&display=swap");

body {
    background-image: url(./imagesss/Picsart_22-11-29_11-03-45-931.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
    text-align: center;
    color: white;
    font-family: 'Kaushan Script', cursive;

}

button {
    width: 95px;
    height: 43px;
    border-radius: 40px;
    background-color: rgb(255, 166, 0);;
    color: rgb(0, 0, 0);
    font-family: inherit;
}
button:hover{
    background-color: white;
    color:black;
}

.a3 {
    position: absolute;
    top: 210px;
    left: 180px;
}

.parent {
    height: 350px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.a1 {

    color: rgb(255, 255, 255);
    position: absolute;
    font-size: xx-large;
    top: -35px;
    left: 138px;
    text-shadow: rgb(1, 20, 17) -6px -1px 4px;
}

p {
    font-family: 'Kaushan', cursive;
}

.a2 {
    color: rgb(255, 166, 0);
    position: absolute;
    top: 70px;
    left: 200px;
    font-size: x-large;
}

.col {
    width: 300px;
    height: 280px;
    box-shadow: black 10px 5px 15px;


}

img {
    width: 100%;
    height: 277px;
    opacity: 0.7;
}

.col-1 {
    background-color: rgb(17, 70, 39);
position: absolute;
top: 120px;
left: 115px;
}
.col-1:hover{
    border: white 2px solid;
}
.col-2 {
    background-color: rgb(6, 65, 55);
    position: absolute;
top: 120px;
left: 486px;
}

.col-2:hover{
    border: white 2px solid;
}

.col-3 {
    background-color: rgb(6, 65, 55);
    position: absolute;
top: 120px;
left: 875px;
}
.col-3:hover{
    border: white 2px solid;
}

.col-4 {
    background-color: rgb(17, 70, 39);
    position: absolute;
top: 120px;
left: 1260px;
}
.col-4:hover{
    border: white 2px solid;
}

.col-5 {
    background-color: rgb(7, 70, 59);
    position: absolute;
    top: 480px;
    left: 200px;
}
.col-5:hover{
    border: white 2px solid;
}

.col-6 {
    background-color: rgb(17, 70, 39);
    position: absolute;
    top: 480px;
    left: 690px;
}

.col-7 {
    background-color: rgb(7, 70, 59);
    position: absolute;
    top: 480px;
    left: 1180px;
}
.col-7:hover{
    border: white 2px solid;
}

.a4 {

    color: rgb(255, 255, 255);
    position: absolute;
    font-size: x-large;
    top: -35px;
    left: 55px;
    text-shadow: rgb(1, 20, 17) -6px -1px 4px;
}

.a6 {
    position: absolute;
    top: 220px;
    left: 108px;
}
.a7{

    color: rgb(255, 255, 255);
    position: absolute;
    font-size: x-large;
    top: -35px;
    left: 70px;
    text-shadow: rgb(1, 20, 17) -6px -1px 4px;
}

.a9{
    position: absolute;
    top: 220px;
    left: 105px;
}
.a10{

    color: rgb(255, 255, 255);
    position: absolute;
    font-size: x-large;
    top: -5px;
    left: 10px;
    text-shadow: rgb(1, 20, 17) -6px -1px 4px;
}
.a11{
    color: rgb(255, 166, 0);
    position: absolute;
    top: 85px;
    left: 15px;
    font-size:x-large;
}
.a12{
    position: absolute;
    top: 225px;
    left: 20px;
}
.a13{

    color: rgb(255, 255, 255);
    position: absolute;
    font-size: x-large;
    top: -10px;
    left: 135px;
    text-shadow: rgb(1, 20, 17) -6px -1px 4px;
}
.a14{
    position: absolute;
    top: 180px;
    left: 182px;
}
.a15{

    color: rgb(255, 255, 255);
    position: absolute;
    font-size: xX-large;
    top: -20px;
    left: 38px;
    text-shadow: rgb(1, 20, 17) -6px -5px 2px;
}
.col-6 img{
    height: 280px;
    opacity: 0.6;
}
.a16{
    position: absolute;
    top: 220px;
    left: 100px;
}
.col-7 img{
    height: 280px;
    opacity: 0.7;
}
.a17{

    color: rgb(255, 255, 255);
    position: absolute;
    font-size: x-large;
    top: 6px;
    left: 10px;
    text-shadow: rgb(1, 20, 17) -6px -1px 4px;
}
.a18{
    position: absolute;
    top: 180px;
    left: 20px;
}
span{
    color: rgb(255, 166, 0) ;
}